@import url('main-components.css');

.formContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  min-width: 215px;
  width: 20%;
  
  padding: 35px;

  background-color: rgba( 0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border-radius: 10px;

  /* box-shadow: 0px 0px 20px 0px darkgray; */
}

.formContainer form {
  display: flex;
  flex-flow: column;
  
  justify-content: center;
  align-items: center;
}

.inputContainer {
  margin: 0;
  padding: 0;
}

.inputContainer input {
  margin-bottom: 10px;
}

.formContainer p, h2 {
  color: white;
}

.inputContainer p {
  margin: 0;
}

#loginBtn {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;

  cursor: pointer;

  font-size: 1.2rem;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px auto;
}

#loginBtn:active {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.registerRedirect * {
  margin: 0;
  padding: 0;
  text-align: center;
}

.registerRedirect a {
  color: #FF9A00;
}

@media (max-width: 768px) {

  .formContainer {
    width: 100%;
  }

  .container {
    flex-flow: column;
  }
}