@import url('main-components.css');

.formContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  min-width: 350px;
  min-height: 350px;
  
  padding: 35px;

  background-color: rgba( 0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border-radius: 10px;
}

.formContainer h1 {
  margin: 0;
  padding: 6px;
}

.pfpContainer, .nameContainer, .updateContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pfpContainer p {
  margin: 0;
  padding: 0;
}

.nameContainer * {
  margin: 0;
  padding: 0;
}

.updateContainer {
  margin-top: 20px;
}

.updateContainer * {
  margin: 5px;
  padding: 5px;

  width: 100%;
}

.pfpContainer {
  align-items: center;
  justify-content: center;
}

.pfpContainer * {
  margin: 5px;
}

.pfpPreview {
  --imageSize: 120px;
  width: var(--imageSize);
  height: var(--imageSize);
  border-radius: 50%;
  border: 2px solid white;
}

.update {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;

  font-size: 1.2rem;
  font-family: 'Bender';
  text-align: center;
  text-decoration: none;
}

.update:hover {
  background-color: #222222;
}


.update:active {
  background-color: white;
  border: 2px solid black;
  color: black;
}

@media (max-width: 768px) {

  .formContainer {
    width: 100%;

    min-width: 0px;
  }

  .inputContainer label, .inputContainer p {
    text-align: center;
  }

  .container {
    flex-flow: column;
  }
}